<!-- Favicon 最佳实践 -->
<link
    rel="apple-touch-icon"
    sizes="180x180"
    href="/img/favicons/apple-touch-icon.png"
/>
<link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="/img/favicons/favicon-32x32.png"
/>
<link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="/img/favicons/favicon-16x16.png"
/>
<link rel="manifest" href="/img/favicons/site.webmanifest" />
<link
    rel="mask-icon"
    href="/img/favicons/safari-pinned-tab.svg"
    color="#5bbad5"
/>
<link rel="shortcut icon" href="/img/favicons/favicon.ico" />
<meta
    name="msapplication-TileImage"
    content="/img/favicons/mstile-150x150.png"
/>
<meta name="msapplication-config" content="/img/favicons/browserconfig.xml" />

<!-- 方正筑紫老明朝 -->
<link
    rel="stylesheet"
    href="https://fastly.jsdelivr.net/gh/rainsins/blog-npm-source@main/fonts/FZZhuZiAOldMincho/FZFWZhuZiAOldMinchoR/result.css"
/>
<link
    rel="stylesheet"
    href="https://gcore.jsdelivr.net/gh/rainsins/blog-npm-source@main/fonts/FZZhuZiAOldMincho/FZFWZhuZiAOldMinchoL/result.css"
/>
<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/rainsins/blog-npm-source@main/fonts/FZZhuZiAOldMincho/FZFWZhuZiAOldMinchoM/result.css"
/>
<link
    rel="stylesheet"
    href="https://fastly.jsdelivr.net/gh/rainsins/blog-npm-source@main/fonts/FZZhuZiAOldMincho/FZFWZhuZiAOldMinchoB/result.css"
/>
<link
    rel="stylesheet"
    href="https://gcore.jsdelivr.net/gh/rainsins/blog-npm-source@main/fonts/FZZhuZiAOldMincho/FZFWZhuZiAOldMinchoD/result.css"
/>
<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/rainsins/blog-npm-source@main/fonts/FZZhuZiAOldMincho/FZFWZhuZiAOldMinchoE/result.css"
/>

<link
    rel="stylesheet"
    href="https://cn-font.claude-code-best.win/packages/jhlst/dist/京華老宋体v2_002/result.css"
/>

<link
    href="https://google-fonts.mirrors.sjtug.sjtu.edu.cn/css2?family=Literata:ital,opsz,wght@0,7..72,400;0,7..72,500;1,7..72,400&display=swap"
    rel="stylesheet"
/>

<link
    rel="stylesheet"
    href="https://gcore.jsdelivr.net/gh/rainsins/blog-npm-source@main/fonts/simfang/result.css"
/>

<link
    rel="stylesheet"
    href="https://fastly.jsdelivr.net/gh/rainsins/blog-npm-source@main/fonts/simkai/result.css"
/>

<script src="/js/core.js"></script>

{% if page.extra.text_indent %}
<style>
    .prose:not(#brief) p {
        text-indent: 2em;
    }
</style>
{% endif %} {% include "my_css.html" %}

<!-- 1. 依赖库，按需加载 -->
{% if page.extra.heti or page.extra.charch %}
<script src="https://fastly.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
{% endif %} {% if page.extra.heti %}
<link rel="stylesheet" href="//unpkg.com/heti/umd/heti.min.css" />
<script src="//unpkg.com/heti/umd/heti-addon.min.js"></script>
<script src="https://fastly.jsdelivr.net/npm/pangu@4.0.7/dist/browser/pangu.min.js"></script>
<script>
    const _heti = new Heti(".heti-box");
    onDomReady(function () {
        pangu.autoSpacingPage();
        _heti.autoSpacing(); // 自动进行中西文混排美化和标点挤压
    });
</script>
{% endif %} {% include "head_comment.html" %}
